.hidden {
    display: none;
}

#input textarea {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
}

h1,
p {
    text-align: center;
    margin: 5px;
}

#container {
    display: flex;
}

#input,
#output {
    width: 100%;
    height: 90vh;
    font-family: monospace;
}

#output {
    border-top: 1px solid grey;
    white-space: pre;
}